<section class="marqueeProducts_sec">
  <div class="container">
    <div class="wrap">
      <div class="marqueeProducts_container">
        <div class="marqueeProducts_wrapper">
          {%- for block in section.blocks -%}
            <div class="productCard">
              <a href="{{ block.settings.link }}">
                <img
                  width="300"
                  height="300"
                  loading="lazy"
                  src="{{ product.featured_image | image_url }}"
                >
                <h3>{{ block.settings.title }}</h3>
                <p class="productCard_descr">
                  <span>{{ block.settings.description | money }}</span>
                </p>
                <p class="productCard_price">
                  <span>{{ block.settings.price | money }}</span>
                </p>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Marquee products",
  "class": "Marquee Products",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "name": "products",
      "type": "products",
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Product title",
          "default": "Product title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Product description",
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product image",
        },
        {
          "type": "text",
          "id": "price",
          "label": "Product price",
          "default": "Product price"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "marquee-products",
      "blocks": [
        {
          "type": "products"
        }
      ]
    }
  ],
  "disabled_on": {
    "templates": ["404"]
  }
}
{% endschema %}